* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code Symbol", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,1);
    min-height: 0;
}

window#waybar {
    background: rgba(00, 00, 00, 0.0);
    /* border-bottom: 1px solid rgba(104, 194, 217, 1.0); */
    border-bottom: 1px solid rgba(104, 194, 217, 0.0);
    color: rgba(104, 194, 217, 1.0);
}

#workspaces,
#window,
#tray{
  background-color: rgba(15,27,53,0.9);
  padding: 4px 6px; 
  margin-top: 6px; 
  margin-left: 6px; 
  margin-right: 6px; 
  border-radius: 10px;
  border-width: 0px;
}
#clock{
  background-color: rgba(104, 194, 217, 1.0);
  padding: 4px 6px; 
  margin-top: 6px; 
  margin-left: 6px; 
  margin-right: 6px; 
  border-radius: 10px;
  border-width: 0px;
}


